/AlgDDA/nbproject/private/
/AlgDDA/dist/
/AlgDDA/build/
/AlgBres/nbproject/private/
/AlgBres/build/
/AlgBres/dist/
/AlgLinhasTodos/nbproject/private/
/AlgLinhasTodos/build/
/AlgLinhasTodos/dist/
/AlgPreeVarred/nbproject/private/
/AlgPreeVarred/build/
/AlgPreeVarred/dist/
/AlgPreeBF/nbproject/private/
/AlgPreeBF/dist/
/AlgPreeBF/build/
/AlgCircParam/nbproject/private/
/AlgCircParam/build/
/AlgCircParam/dist/
/AlgCircIncSem/nbproject/private/
/AlgCircIncSem/dist/
/AlgCircIncSem/build/
/AlgCircBres/nbproject/private/
/AlgCircBres/build/
/AlgCircBres/dist/
